body{
  background-color: brown;
}

.container{
  background-color:grey;
  width: 75px;
  height: 600px;
}
.profile-photo{
  max-width: 150px;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px black solid;
  border-radius: 50%;
}

.d-grid{

  margin: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
  
}

.header{
  text-align: center;
  margin-top:10px;
}

/*
.button{
  margin: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color:black;
  color: white;
  font-size: x-large;
}
*/

.profile-buttons{
  font-size: medium;
  color: white;
  background-color: black;
}

.linkedin{
  width: 40px;
  height: auto;
}

.twitter{
  width: 40px;
  height: auto;
}

.facebook{
  width: 40px;
  height: auto;
}

.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 40%;
  margin-right: 40%;
  }
